.sname{
	background: url(../img/ic-moreinfo.png) no-repeat 13rem  center;
	width: 100%;
	height: 3rem;
	border-bottom: 1px solid  #B3B3B3;
	line-height: 3rem;
	text-align: left;
	padding-left: 1rem;
}
.sname a{
	display: block;
}
.test{
	width: 100%;
	height: 2.75rem;
	border-bottom: 1px solid  #B3B3B3;
	line-height: 2.75rem;
	text-align: center;
}
.tesWrap{
	width: 100%;
	height: 4rem;
	border-bottom: 2px solid  #B3B3B3;
}
.tesItem{
	display: block;
	width: 100%;
	height: 2rem;
	line-height: 2rem;
	color: #999;
}
.tesWrap a{
	display: block;
	width: 100%;
	height: 2rem;
	line-height: 2rem;
	margin-left: 1rem;	
}
.examName{
	position: relative;
	border-bottom: 1px solid #BFBFBF;
	height: 2rem;
	font-size: 1rem;
	line-height: 2rem;
	margin-left: 1.25rem;
	margin-top: 2rem;
	font-family: "微软雅黑";
}
.examName input {
	position: absolute;
	padding-right: 1.25rem;
	box-sizing: border-box;
	text-align: right;
	width: 100%;
	left: 0;
	height: 2rem;
	line-height: 2rem;
	font-size: 1rem;
	border: none;
	background-color: transparent;
	color: #666;
}
.content{
	position: relative;
	margin-left: 1.25rem;
	height: 3rem;
	margin-top: 2rem;
	font-size: 1rem;
	line-height: 2rem;
	font-family: "微软雅黑";
}
.examType {
	/*position: relative;*/
	height: 1.5rem;
	width: 6rem;
	font-size: 1rem;
	line-height: 1.5rem;
	margin-left: 1rem;
	margin-top: 1rem;
	font-family: "微软雅黑";
}

.scoreSucess h2{
	display: block;
	width: 100%;
	height: 3rem;
	margin-top: 4rem;
	color: #999;
	text-align: center;  
}
