<!DOCTYPE html>
<html lang="en" ng-app="courseApp">
<head>
	<meta charset="UTF-8">
	<title>我的班级</title>
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	
</head>
<body ng-controller="courseCtrl">
	<div class="arrange">
		<div class="listTime tabItem">
			考试情况
		</div>
	</div>

	<div class="tesWrap" ng-repeat="test in tests">
		<div class="tesItem">
			<p class="testName floL">{{test.name}}</p>
			<p class="testTime floR">{{test.time}}</p>
		</div>
		<a>{{test.subject}}</a>
	</div>

	</div>
	    <div class="m-footer">
	        <p class="ctn">由<a class="link" href="#">狠任性团队</a>提供技术支持</p>
	</div>
</body>

<script src="../static/js/angular-1.3.0.js"></script>
<script src="../static/js/setRem.js"></script>
<script src="../static/js/controller.js"></script>
<link rel="stylesheet" href="../static/css/index.css">
<link rel="stylesheet" href="../static/css/resets.css">
<link rel="stylesheet" href="../static/css/footer.css">
<link rel="stylesheet" href="../static/css/template.css">

</html>