.m-footer{
	margin-top: .5rem;
}
.m-footer .ctn{
	line-height: 2.1rem;
	color: #999;
	text-align: center;
	font-size: 18px;
}
.m-footer .ctn .link {
  padding: 0 .2rem;
  color: #0db14b;
}