.sname{
	width: 100%;
	height: 1.75rem;
	border-bottom: 1px solid  #B3B3B3;
	line-height: 1.75rem;
	text-align: left;
	padding-left: 1rem;
}
.test{
	width: 100%;
	height: 1.75rem;
	border-bottom: 1px solid  #B3B3B3;
	line-height: 1.75rem;
	text-align: left;
	padding-left: 1rem;
}
.tesWrap{
	width: 100%;
	height: 4rem;
	border-bottom: 2px solid  #B3B3B3;
}
.tesItem{
	display: block;
	width: 100%;
	height: 2rem;
	line-height: 2rem;
}
.tesWrap a{
	display: block;
	width: 100%;
	height: 2rem;
	line-height: 2rem;
	text-align: center;	
}