<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>我的班级</title>
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <script>
        window.teacher = "{{ teacher }}"
    </script>
	<link rel="stylesheet" href="/static/teacher_v1/css/index.css">
	<link rel="stylesheet" href="/static/teacher_v1/css/resets.css">
	<link rel="stylesheet" href="/static/teacher_v1/css/footer.css">
</head>
<body>
	<div class="arrange">
		<div class="listTime tabItem">
			我的班级
		</div>
	</div>
    {% verbatim %}
    <div ng-app="classApp" ng-controller="classController" ng-cloak>
        <div class="myclass" ng-repeat="name in classes">
            <a href="/teacher/class/{{ name.id }}/detail/">{{ name.class_name }}</a>
        </div>
    </div>
	</div>
    {% endverbatim %}
    <div class="m-footer">
        <p class="ctn">由<a class="link" href="#">狠任性团队</a>提供技术支持</p>
    </div>
    <script src="/static/teacher_v1/js/angularJS/angular.min.js"></script>
    <script type="text/javascript" src="/static/teacher_v1/js/angularJs/angular-resource.min.js"></script>
	<script src="/static/teacher_v1/js/setRem.js"></script>
	<script src="/static/teacher_v1/js/controllers/teacher_class_all_app.js"></script>
    <script type="text/javascript" src="/static/teacher_v1/js/service/teacher_request.js"></script>
</body>

</html>