<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>我的通知</title>
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">

	<script src="/static/js/angularJS/angular-1.3.0.js"></script>
	<script src="/static/js/setRem.js"></script>
	<script src="/static/js/controllers/teacher_inform_app.js"></script>

	<link rel="stylesheet" href="/static/css/index.css">
	<link rel="stylesheet" href="/static/css/resets.css">
	<link rel="stylesheet" href="/static/css/footer.css">
</head>
<body>
	<div class="showText">
		<p>
		{{ content }}
		</p>
	</div>

	</div>
        <div class="m-footer">
	        <p class="ctn">由<a class="link" href="#">狠任性团队</a>提供技术支持</p>
	    </div>
</body>
</html>