<!DOCTYPE html>
<html lang="en" style="font-size:100%">
<head>
	<meta charset="UTF-8">
	<title>学生管理</title>
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">

	<script src="static/js/angularJs/angular-1.3.0.js"></script>
	<script src="static/js/setRem.js"></script>
	<script src="static/js/controllers/teacher_exam_app.js"></script>

	<!-- <link rel="stylesheet" href="css/reset.css"> -->
	<link rel="stylesheet" href="static/css/index.css">
</head>
<body>

	<div class="arrange">
		<div class="listTime tabItem">
			考试管理
		</div>
	</div>

	<div class="courseWrap" ng-app="courseApp" ng-controller="courseCtrl">
		<div class="courseList" ng-repeat="sub in subjects">
			<p class="title">{{sub.school_class}}</p>
			<span class="floL"><a href="#">{{sub.name}}</a></span>
			<span class="floR"><a href="#">{{sub.time}}</a></span>
		</div>
	</div>


	<div class="fixedBtnWrap">
		<a class="btn btn-main" href="#" ng-click="">创建考试</a>
	</div>


</body>
</html>