<!DOCTYPE html>
<html lang="en" style="font-size:100%">
<head>
	<meta charset="UTF-8">
	<title>学生管理</title>
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <script>
        window.teacher = {{ teacher }}
    </script>
	<!-- <link rel="stylesheet" href="css/reset.css"> -->
	<link rel="stylesheet" href="/static/teacher_v1/css/index.css">
</head>
<body>

	<div class="arrange">
		<div class="listTime tabItem">
			考试管理
		</div>
	</div>
    {% verbatim %}
	<div class="courseWrap" ng-app="courseApp" ng-controller="courseCtrl">
		<div class="courseList" ng-repeat="term in terms">
			<a href="/statistics/term/{{ term.id }}/">
            <p class="title">{{term.grade}}年{{term.team}}班</p>
			<span class="floL">{{term.name}}</span>
			<span class="floR">{{term.time}}</span>
            </a>
		</div>
	</div>
    {% endverbatim %}

	<div class="fixedBtnWrap">
		<a class="btn btn-main" href="/teacher/create/term/?teacher={{ teacher }}">创建考试</a>
	</div>

    <script src="/static/teacher_v1/js/angularJs/angular.min.js"></script>
    <script type="text/javascript" src="/static/teacher_v1/js/angularJs/angular-resource.min.js"></script>
	<script src="/static/teacher_v1/js/setRem.js"></script>
	<script src="/static/teacher_v1/js/controllers/teacher_term_list.js"></script>
    <script type="text/javascript" src="/static/teacher_v1/js/service/teacher_request.js"></script>
</body>
</html>