<!DOCTYPE html>
<html lang="en" style="font-size:100%">
<head>
	<meta charset="UTF-8">
	<title>学生管理</title>
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">

	<script src="static/js/angularJS/angular-1.3.0.js"></script>
	<script src="static/js/setRem.js"></script>
	<script src="static/js/controllers/teacher_schedules_app.js"></script>

	<!-- <link rel="stylesheet" href="css/reset.css"> -->
	<link rel="stylesheet" href="static/css/index.css">
</head>
<body>

	<div class="arrange">
		<div class="listTime tabItem">
			我的课程
		</div>
	</div>

	<!-- 课程表 -->
	<div class="courseWrap" ng-app="courseApp" ng-controller="courseCtrl" ng-cloak>
		<div class="course">
			<div class="courseList" ng-repeat="item in schedules">
				<p class="title">{{item.day}}</p>
				<span class="floL">{{item.clas}}</span>
				<span class="floR">{{item.time}}</span>
			</div>
		</div>	
	</div>

	<!-- 添加日程 -->
	<div class="fixedBtnWrap">
		<a class="btn btn-main" href="#" ng-click="">添加课程</a>
	</div>


</body>
</html>