.sname{
	background: url(../img/ic-moreinfo.png) no-repeat 13rem  center;
	width: 100%;
	height: 3rem;
	border-bottom: 1px solid  #B3B3B3;
	line-height: 3rem;
	text-align: left;
	padding-left: 1rem;
}
.sname a{
	display: block;
}
.test{
	width: 100%;
	height: 2.75rem;
	border-bottom: 1px solid  #B3B3B3;
	line-height: 2.75rem;
	text-align: center;
}
.tesWrap{
	width: 100%;
	height: 4rem;
	border-bottom: 2px solid  #B3B3B3;
}
.tesItem{
	display: block;
	width: 100%;
	height: 2rem;
	line-height: 2rem;
}
.tesWrap a{
	display: block;
	width: 100%;
	height: 2rem;
	line-height: 2rem;
	text-align: center;	
}